[submodule "arduino/HangulClock/libs/LedControl"]
	path = arduino/HangulClock/libs/LedControl
	url = git@github.com:suapapa/arduino_library_ledcontrol.git
[submodule "arduino/HangulClock/libs/HT1380"]
	path = arduino/HangulClock/libs/HT1380
	url = git@github.com:suapapa/arduino_library_ht1380.git
